# Netflix worldwide top 10 scrap

In [13]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import time

In [14]:
# Set up Splinter
browser = Browser('chrome')

In [3]:
# Visit Netflix top 10 global site
url = 'https://www.netflix.com/tudum/top10?utm_source=google&utm_medium=cpc&utm_campaign=september&utm_id=09&gclid=Cj0KCQjw06-oBhC6ARIsAGuzdw3Kzz8edhpv0YSQiLhIxxZ3BIhZlFJC2qPqaclHvQAPhB-ejtGVHboaAkLxEALw_wcB'
browser.visit(url)

In [7]:
df_master=pd.DataFrame
df=pd.DataFrame
for i in range(115):
    current_url=browser.url
    print(current_url)
    # Find the table
    html = browser.html
    html_soup = soup(html, 'html.parser')
    table = html_soup.find('table', class_='table-fixed')

    # Store the table
    data=table.find('tbody')
    objects = data.find_all('tr')
    table1=[]

    # Loop through the rows
    for object_ in objects:
        row=[]
        #row_heading = row.find('th').text
        object_data = object_.find_all('td')
        for cell in object_data:
            data1=cell.text
            row.append(data1)
        table1.append(row)

    if len(row)<5:
        headers=['No','movie','week_at_Top10', 'hours_seen']
    else:
        headers=['No','movie','week_at_Top10', 'hours_seen', 'duration','views']

    if i==0:    
        df_master=pd.DataFrame(table1,columns=headers)
    else:
        df=pd.DataFrame(table1,columns=headers)
        df_master=pd.concat([df_master,df],sort=False)
    browser.find_by_xpath('/html/body/div[1]/div/main/section[2]/div/div[3]/div/div/button[1]/img').click()
    time.sleep(1)

https://www.netflix.com/tudum/top10
https://www.netflix.com/tudum/top10?week=2023-09-10
https://www.netflix.com/tudum/top10?week=2023-09-03
https://www.netflix.com/tudum/top10?week=2023-08-27
https://www.netflix.com/tudum/top10?week=2023-08-20
https://www.netflix.com/tudum/top10?week=2023-08-13
https://www.netflix.com/tudum/top10?week=2023-08-06
https://www.netflix.com/tudum/top10?week=2023-07-30
https://www.netflix.com/tudum/top10?week=2023-07-23
https://www.netflix.com/tudum/top10?week=2023-07-16
https://www.netflix.com/tudum/top10?week=2023-07-09
https://www.netflix.com/tudum/top10?week=2023-07-02
https://www.netflix.com/tudum/top10?week=2023-06-25
https://www.netflix.com/tudum/top10?week=2023-06-18
https://www.netflix.com/tudum/top10?week=2023-06-11
https://www.netflix.com/tudum/top10?week=2023-06-04
https://www.netflix.com/tudum/top10?week=2023-05-28
https://www.netflix.com/tudum/top10?week=2023-05-21
https://www.netflix.com/tudum/top10?week=2023-05-14
https://www.netflix.com/tudum/top10?week=2023-05-07
https://www.netflix.com/tudum/top10?week=2023-04-30
https://www.netflix.com/tudum/top10?week=2023-04-23
https://www.netflix.com/tudum/top10?week=2023-04-16
https://www.netflix.com/tudum/top10?week=2023-04-09
https://www.netflix.com/tudum/top10?week=2023-04-02
https://www.netflix.com/tudum/top10?week=2023-03-26
https://www.netflix.com/tudum/top10?week=2023-03-19
https://www.netflix.com/tudum/top10?week=2023-03-12
https://www.netflix.com/tudum/top10?week=2023-03-05
https://www.netflix.com/tudum/top10?week=2023-02-26
https://www.netflix.com/tudum/top10?week=2023-02-19
https://www.netflix.com/tudum/top10?week=2023-02-12
https://www.netflix.com/tudum/top10?week=2023-02-05
https://www.netflix.com/tudum/top10?week=2023-01-29
https://www.netflix.com/tudum/top10?week=2023-01-22
https://www.netflix.com/tudum/top10?week=2023-01-15
https://www.netflix.com/tudum/top10?week=2023-01-08
https://www.netflix.com/tudum/top10?week=2023-01-01
https://www.netflix.com/tudum/top10?week=2022-12-25
https://www.netflix.com/tudum/top10?week=2022-12-18
https://www.netflix.com/tudum/top10?week=2022-12-11
https://www.netflix.com/tudum/top10?week=2022-12-04
https://www.netflix.com/tudum/top10?week=2022-11-27
https://www.netflix.com/tudum/top10?week=2022-11-20
https://www.netflix.com/tudum/top10?week=2022-11-13
https://www.netflix.com/tudum/top10?week=2022-11-06
https://www.netflix.com/tudum/top10?week=2022-10-30
https://www.netflix.com/tudum/top10?week=2022-10-23
https://www.netflix.com/tudum/top10?week=2022-10-16
https://www.netflix.com/tudum/top10?week=2022-10-09
https://www.netflix.com/tudum/top10?week=2022-10-02
https://www.netflix.com/tudum/top10?week=2022-09-25
https://www.netflix.com/tudum/top10?week=2022-09-18
https://www.netflix.com/tudum/top10?week=2022-09-11
https://www.netflix.com/tudum/top10?week=2022-09-04
https://www.netflix.com/tudum/top10?week=2022-08-28
https://www.netflix.com/tudum/top10?week=2022-08-21
https://www.netflix.com/tudum/top10?week=2022-08-14
https://www.netflix.com/tudum/top10?week=2022-08-07
https://www.netflix.com/tudum/top10?week=2022-07-31
https://www.netflix.com/tudum/top10?week=2022-07-24
https://www.netflix.com/tudum/top10?week=2022-07-17
https://www.netflix.com/tudum/top10?week=2022-07-10
https://www.netflix.com/tudum/top10?week=2022-07-03
https://www.netflix.com/tudum/top10?week=2022-06-26
https://www.netflix.com/tudum/top10?week=2022-06-19
https://www.netflix.com/tudum/top10?week=2022-06-12
https://www.netflix.com/tudum/top10?week=2022-06-05
https://www.netflix.com/tudum/top10?week=2022-05-29
https://www.netflix.com/tudum/top10?week=2022-05-22
https://www.netflix.com/tudum/top10?week=2022-05-15
https://www.netflix.com/tudum/top10?week=2022-05-08
https://www.netflix.com/tudum/top10?week=2022-05-01
https://www.netflix.com/tudum/top10?week=2022-04-24
https://www.netflix.com/tudum/top10?week=2022-04-17
https://www.netflix.com/tudum/top10?week=2022-04-10
https://www.netflix.com/tudum/top10?week=2022-04-03
https://www.netflix.com/tudum/top10?week=2022-03-27
https://www.netflix.com/tudum/top10?week=2022-03-20
https://www.netflix.com/tudum/top10?week=2022-03-13
https://www.netflix.com/tudum/top10?week=2022-03-06
https://www.netflix.com/tudum/top10?week=2022-02-27
https://www.netflix.com/tudum/top10?week=2022-02-20
https://www.netflix.com/tudum/top10?week=2022-02-13
https://www.netflix.com/tudum/top10?week=2022-02-06
https://www.netflix.com/tudum/top10?week=2022-01-30
https://www.netflix.com/tudum/top10?week=2022-01-23
https://www.netflix.com/tudum/top10?week=2022-01-16
https://www.netflix.com/tudum/top10?week=2022-01-09
https://www.netflix.com/tudum/top10?week=2022-01-02
https://www.netflix.com/tudum/top10?week=2021-12-26
https://www.netflix.com/tudum/top10?week=2021-12-19
https://www.netflix.com/tudum/top10?week=2021-12-12
https://www.netflix.com/tudum/top10?week=2021-12-05
https://www.netflix.com/tudum/top10?week=2021-11-28
https://www.netflix.com/tudum/top10?week=2021-11-21
https://www.netflix.com/tudum/top10?week=2021-11-14
https://www.netflix.com/tudum/top10?week=2021-11-07
https://www.netflix.com/tudum/top10?week=2021-10-31
https://www.netflix.com/tudum/top10?week=2021-10-24
https://www.netflix.com/tudum/top10?week=2021-10-17
https://www.netflix.com/tudum/top10?week=2021-10-10
https://www.netflix.com/tudum/top10?week=2021-10-03
https://www.netflix.com/tudum/top10?week=2021-09-26
https://www.netflix.com/tudum/top10?week=2021-09-19
https://www.netflix.com/tudum/top10?week=2021-09-12
https://www.netflix.com/tudum/top10?week=2021-09-05
https://www.netflix.com/tudum/top10?week=2021-08-29
https://www.netflix.com/tudum/top10?week=2021-08-22
https://www.netflix.com/tudum/top10?week=2021-08-15
https://www.netflix.com/tudum/top10?week=2021-08-08
https://www.netflix.com/tudum/top10?week=2021-08-01
https://www.netflix.com/tudum/top10?week=2021-07-25
https://www.netflix.com/tudum/top10?week=2021-07-18
https://www.netflix.com/tudum/top10?week=2021-07-11

In [9]:
df_master['hours_seen']=df_master['hours_seen'].str.replace(r'(\,)', r'',regex=True)
df_master

,No,movie,week_at_Top10,hours_seen,duration,views
0,1,Love at First Sight,1,21400000,1:31,"14,100,000"
1,2,You Are So Not Invited to My Bat Mitzvah,4,7400000,1:44,"4,300,000"
2,3,Woody Woodpecker,2,5300000,1:31,"3,500,000"
3,4,Dr. Seuss' The Grinch,2,4900000,1:26,"3,400,000"
4,5,Fifty Shades Freed,1,5900000,1:45,"3,400,000"
...,...,...,...,...,...,...
5,6,This Little Love of Mine,1,9390000,NaN,NaN
6,7,Mother's Day,1,9200000,NaN,NaN
7,8,How to Train Your Dragon: The Hidden World,1,9030000,NaN,NaN
8,9,Kung Fu Panda 3,2,8870000,NaN,NaN
9,10,The Huntsman: Winter's War,1,7460000,NaN,NaN

In [10]:
df_master['views']=df_master['views'].str.replace(r'(\,)', r'',regex=True)
df_master.head(20)

,No,movie,week_at_Top10,hours_seen,duration,views
0,1,Love at First Sight,1,21400000,1:31,14100000
1,2,You Are So Not Invited to My Bat Mitzvah,4,7400000,1:44,4300000
2,3,Woody Woodpecker,2,5300000,1:31,3500000
3,4,Dr. Seuss' The Grinch,2,4900000,1:26,3400000
4,5,Fifty Shades Freed,1,5900000,1:45,3400000
5,6,The Croods,7,5200000,1:38,3200000
6,7,All My Life,1,4600000,1:32,3000000
7,8,Leatherface,1,4300000,1:28,2900000
8,9,The Boss Baby,13,4600000,1:38,2800000
9,10,Jack Reacher: Never Go Back,3,5200000,1:58,2600000
0,1,You Are So Not Invited to My Bat Mitzvah,3,15300000,1:44,8800000
1,2,Choose Love,2,9000000,1:17,7000000
2,3,The Croods,6,6800000,1:38,4200000
3,4,Dr. Seuss' The Grinch,1,5900000,1:26,4100000
4,5,The Boss Baby,12,6400000,1:38,3900000
5,6,Snitch,2,6900000,1:47,3900000
6,7,Love Again,2,6600000,1:44,3800000
7,8,Jack Reacher: Never Go Back,2,7400000,1:58,3800000
8,9,Heart of Stone,5,7300000,2:06,3500000
9,10,Jack Reacher,2,7500000,2:10,3500000

In [11]:
df_master.head(20)

,No,movie,week_at_Top10,hours_seen,duration,views
0,1,Love at First Sight,1,21400000,1:31,14100000
1,2,You Are So Not Invited to My Bat Mitzvah,4,7400000,1:44,4300000
2,3,Woody Woodpecker,2,5300000,1:31,3500000
3,4,Dr. Seuss' The Grinch,2,4900000,1:26,3400000
4,5,Fifty Shades Freed,1,5900000,1:45,3400000
5,6,The Croods,7,5200000,1:38,3200000
6,7,All My Life,1,4600000,1:32,3000000
7,8,Leatherface,1,4300000,1:28,2900000
8,9,The Boss Baby,13,4600000,1:38,2800000
9,10,Jack Reacher: Never Go Back,3,5200000,1:58,2600000
0,1,You Are So Not Invited to My Bat Mitzvah,3,15300000,1:44,8800000
1,2,Choose Love,2,9000000,1:17,7000000
2,3,The Croods,6,6800000,1:38,4200000
3,4,Dr. Seuss' The Grinch,1,5900000,1:26,4100000
4,5,The Boss Baby,12,6400000,1:38,3900000
5,6,Snitch,2,6900000,1:47,3900000
6,7,Love Again,2,6600000,1:44,3800000
7,8,Jack Reacher: Never Go Back,2,7400000,1:58,3800000
8,9,Heart of Stone,5,7300000,2:06,3500000
9,10,Jack Reacher,2,7500000,2:10,3500000

In [12]:
df_master.tail(20)

,No,movie,week_at_Top10,hours_seen,duration,views
0,1,Fear Street Part 3: 1666,1,20080000,NaN,NaN
1,2,Fear Street Part 2: 1978,2,16820000,NaN,NaN
2,3,Fear Street Part 1: 1994,3,14370000,NaN,NaN
3,4,Gunpowder Milkshake,1,11770000,NaN,NaN
4,5,The Water Man,1,11630000,NaN,NaN
5,6,This Little Love of Mine,2,8810000,NaN,NaN
6,7,Wish Dragon,3,8550000,NaN,NaN
7,8,Fatherhood,3,7790000,NaN,NaN
8,9,Twilight,1,7640000,NaN,NaN
9,10,Rust Creek,1,6560000,NaN,NaN
0,1,Fear Street Part 1: 1994,2,19550000,NaN,NaN
1,2,Fear Street Part 2: 1978,1,16060000,NaN,NaN
2,3,Fatherhood,2,12830000,NaN,NaN
3,4,Warcraft,2,10990000,NaN,NaN
4,5,Wish Dragon,2,10590000,NaN,NaN
5,6,This Little Love of Mine,1,9390000,NaN,NaN
6,7,Mother's Day,1,9200000,NaN,NaN
7,8,How to Train Your Dragon: The Hidden World,1,9030000,NaN,NaN
8,9,Kung Fu Panda 3,2,8870000,NaN,NaN
9,10,The Huntsman: Winter's War,1,7460000,NaN,NaN

In [ ]:
df_master.to_csv(f'../webscrapping/Netflix_all_top10_worldwide.csv',index=False)

In [31]:
# Visit Netflix top 10 by country site
#country can be canada,mexico,united-states,united-kingdom
country = 'united-kingdom'
url = f'https://www.netflix.com/tudum/top10/{country}?week=2023-09-17'
browser.visit(url)

In [32]:
df_master_country=pd.DataFrame
df_country=pd.DataFrame
headers=['No','movie','week_at_Top10']
for i in range(115):
    current_url=browser.url
    print(current_url)
    # Find the table
    html = browser.html
    html_soup = soup(html, 'html.parser')
    table = html_soup.find('table', class_='table-fixed')

    # Store the table
    data=table.find('tbody')
    objects = data.find_all('tr')
    table1=[]

    # Loop through the rows
    for object_ in objects:
        row=[]
        #row_heading = row.find('th').text
        object_data = object_.find_all('td')
        for cell in object_data:
            data1=cell.text
            row.append(data1)
        table1.append(row)

    if i==0:    
        df_master_country=pd.DataFrame(table1,columns=headers)
    else:
        df_country=pd.DataFrame(table1,columns=headers)
        df_master_country=pd.concat([df_master_country,df_country],sort=False)
    browser.find_by_xpath('/html/body/div[1]/div/main/section[2]/div/div[3]/div/div/button[1]/img').click()
    time.sleep(1)

https://www.netflix.com/tudum/top10/united-kingdom?week=2023-09-17
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-09-10
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-09-03
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-08-27
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-08-20
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-08-13
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-08-06
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-07-30
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-07-23
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-07-16
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-07-09
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-07-02
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-06-25
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-06-18
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-06-11
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-06-04
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-05-28
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-05-21
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-05-14
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-05-07
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-04-30
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-04-23
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-04-16
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-04-09
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-04-02
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-03-26
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-03-19
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-03-12
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-03-05
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-02-26
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-02-19
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-02-12
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-02-05
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-01-29
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-01-22
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-01-15
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-01-08
https://www.netflix.com/tudum/top10/united-kingdom?week=2023-01-01
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-12-25
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-12-18
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-12-11
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-12-04
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-11-27
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-11-20
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-11-13
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-11-06
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-10-30
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-10-23
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-10-16
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-10-09
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-10-02
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-09-25
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-09-18
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-09-11
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-09-04
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-08-28
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-08-21
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-08-14
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-08-07
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-07-31
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-07-24
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-07-17
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-07-10
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-07-03
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-06-26
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-06-19
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-06-12
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-06-05
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-05-29
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-05-22
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-05-15
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-05-08
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-05-01
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-04-24
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-04-17
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-04-10
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-04-03
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-03-27
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-03-20
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-03-13
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-03-06
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-02-27
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-02-20
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-02-13
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-02-06
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-01-30
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-01-23
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-01-16
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-01-09
https://www.netflix.com/tudum/top10/united-kingdom?week=2022-01-02
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-12-26
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-12-19
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-12-12
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-12-05
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-11-28
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-11-21
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-11-14
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-11-07
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-10-31
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-10-24
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-10-17
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-10-10
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-10-03
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-09-26
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-09-19
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-09-12
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-09-05
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-08-29
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-08-22
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-08-15
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-08-08
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-08-01
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-07-25
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-07-18
https://www.netflix.com/tudum/top10/united-kingdom?week=2021-07-11

In [33]:
df_master_country

    No                    movie week_at_Top10
0    1        The Little Things             2
1    2      Love at First Sight             1
2    3            Tom and Jerry             1
3    4        Superintelligence             1
4    5    Dr. Seuss' The Grinch             2
..  ..                      ...           ...
5    6                 Criminal             1
6    7               Fatherhood             2
7    8                    Split             1
8    9  The Angry Birds Movie 2             2
9   10     Bridget Jones's Baby             1

[1150 rows x 3 columns]

In [34]:
df_master_country.to_csv(f'../webscrapping/Netflix_all_top10_{country}.csv',index=False)

In [35]:
# Quit the browsing session
browser.quit()